@font-face {
    font-family: 'Demyo-Icons';
    src:    url('../fonts/Demyo-Icons.eot?1xjag3');
    src:    url('../fonts/Demyo-Icons.eot?1xjag3#iefix') format('embedded-opentype'),
        url('../fonts/Demyo-Icons.ttf?1xjag3') format('truetype'),
        url('../fonts/Demyo-Icons.woff?1xjag3') format('woff'),
        url('../fonts/Demyo-Icons.svg?1xjag3#Demyo-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dico {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Demyo-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dico-bookmarks:before {
    content: "\e900";
}
.dico-bookmark:before {
    content: "\e8e6";
}
.dico-bookmark_border:before {
    content: "\e8e7";
}
.dico-import_contacts:before {
    content: "\e0e0";
}
.dico-picture_in_picture_alt:before {
    content: "\e911";
}
.dico-location_on:before {
    content: "\e052";
}
.dico-add:before {
    content: "\e069";
}
.dico-airplanemode_active:before {
    content: "\e091";
}
.dico-mode_edit:before {
    content: "\e0ee";
}
.dico-file_download:before {
    content: "\e0ff";
}
.dico-file_upload:before {
    content: "\e100";
}
.dico-arrow_down:before {
    content: "\e10f";
}
.dico-arrow_left:before {
    content: "\e110";
}
.dico-arrow_right:before {
    content: "\e111";
}
.dico-arrow_up:before {
    content: "\e112";
}
.dico-broken:before {
    content: "\e142";
}
.dico-camera:before {
    content: "\e145";
}
.dico-person-location:before {
    content: "\e1f2";
}
.dico-menu:before {
    content: "\e20e";
}
.dico-keyboard_control:before {
    content: "\e20f";
}
.dico-more_vert:before {
    content: "\e210";
}
.dico-person:before {
    content: "\e253";
}
.dico-star:before {
    content: "\e260";
}
.dico-star_outline:before {
    content: "\e262";
}
.dico-delete:before {
    content: "\e287";
}
.dico-favorite:before {
    content: "\e291";
}
.dico-favorite_outline:before {
    content: "\e292";
}
.dico-home:before {
    content: "\e29e";
}
.dico-info_outline:before {
    content: "\e2a3";
}
.dico-list:before {
    content: "\e2aa";
}
.dico-search:before {
    content: "\e2ca";
}
.dico-settings:before {
    content: "\e2cb";
}
.dico-shopping_cart:before {
    content: "\e2df";
}
.dico-store:before {
    content: "\e2e3";
}
.dico-thumbs:before {
    content: "\e302";
}
.dico-help_outline:before {
    content: "\e30f";
}
.dico-tag:before {
    content: "\f02b";
}
.dico-image:before {
    content: "\f03e";
}
.dico-photo2:before {
    content: "\f03e";
}
.dico-picture-o:before {
    content: "\f03e";
}
.dico-plus:before {
    content: "\f067";
}
.dico-gift:before {
    content: "\f06b";
}
.dico-eye:before {
    content: "\f06e";
}
.dico-eye-slash:before {
    content: "\f070";
}
.dico-arrows-v:before {
    content: "\f07d";
}
.dico-arrows-h:before {
    content: "\f07e";
}
.dico-comment-o:before {
    content: "\f0e5";
}
.dico-chain-broken:before {
    content: "\f127";
}
.dico-unlink:before {
    content: "\f127";
}
.dico-box:before {
    content: "\f187";
}
.dico-building:before {
    content: "\f1ad";
}
.dico-image-file:before {
    content: "\f1c5";
}
.dico-circle-o-notch:before {
    content: "\f1ce";
}
.dico-search-advanced:before {
    content: "\f1e5";
}
.dico-paint-brush:before {
    content: "\f1fc";
}
.dico-pie-chart:before {
    content: "\f200";
}
.dico-sticky-note:before {
    content: "\f24a";
}
.dico-book:before {
    content: "\e800";
}
.dico-books:before {
    content: "\e801";
}
