// Color definitions
@color-text: rgba(0, 0, 0, 0.87);
@color-primary: rgb(33,150,243);
@color-primary-contrast: rgb(255, 255, 255);
@color-primary-dark: rgb(25,118,210);
@color-accent: rgb(255, 64, 129);
@color-accent-contrast: rgb(255, 255, 255);
@color-background-light-highlight: rgba(0, 0, 0, 0.05);
@color-input-label: rgba(0, 0, 0, 0.26);

@import "demyo/demyo.common.less";
