#setPageTitleCond($album.id 'title.edit.album', 'title.add.album')

#@form()

#inputHidden('album.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])
		#inputSelect('field.Album.series', 'album.series.id', $series, { "allowEmpty": true })
	#end
</div>
	
<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.identification')</h6>#end
	#@mdlGridCell([4,3,4])
		#inputInteger('field.Album.cycle', 'album.cycle')
	#end
	#@mdlGridCell([4,3,4])
		#inputFloat('field.Album.number', 'album.number')
	#end
	#@mdlGridCell([4,2,4])
		#inputText('field.Album.numberSuffix', 'album.numberSuffix')
	#end
	#@mdlGridCell([12,0,0])
		#inputText('field.Album.title', 'album.title')
	#end
	#@mdlGridCell([12,0,0])
		#inputSelectMultiple('field.Album.tags', 'album.tags', $tags)
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.publishing')</h6>#end
	#@mdlGridCell([4,0,0])
		#inputSelect('field.Album.publisher', 'album.publisher.id', $publishers, { })
	#end
	#@mdlGridCell([4,0,0])
		#inputSelect('field.Album.collection', 'album.collection.id', [], { "ajaxLoaded": true, "allowEmpty": true })
	#end
	#@mdlGridCell([4,0,0])
		#inputText('field.Album.isbn', 'album.isbn')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.authoring')</h6>#end
	#@mdlGridCell([4,0,0])
		#inputSelectMultiple('field.Album.writers', 'album.writers', $authors)
	#end
	#@mdlGridCell([4,0,0])
		#inputSelectMultiple('field.Album.artists', 'album.artists', $authors)
	#end
	#@mdlGridCell([4,0,0])
		#inputSelectMultiple('field.Album.colorists', 'album.colorists', $authors)
	#end
	#@mdlGridCell([4,0,0])
		#inputSelectMultiple('field.Album.inkers', 'album.inkers', $authors)
	#end
	#@mdlGridCell([4,0,0])
		#inputSelectMultiple('field.Album.translators', 'album.translators', $authors)
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.dates')</h6>#end
	#@mdlGridCell([4,0,0])
		#inputDate('field.Album.firstEditionDate', 'album.firstEditionDate')
		## TODO: tool to copy that date to the current edition
	#end
	#@mdlGridCell([4,0,0])
		#inputDate('field.Album.currentEditionDate', 'album.currentEditionDate')
	#end
	#@mdlGridCell([4,0,0])
		#inputDate('field.Album.acquisitionDate', 'album.acquisitionDate')
		## TODO: disable if wishlist
	#end
	#@mdlGridCell([4,0,0])
		#inputCheckbox('field.Album.wishlist', 'album.wishlist')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.format')</h6>#end
	#@mdlGridCell([4,0,0])
		#inputSelect('field.Album.binding', 'album.binding.id', $bindings, { "allowEmpty": true })
	#end
	#@mdlGridCell([4,0,0])
		#inputFloat('field.Album.width', 'album.width')
	#end
	#@mdlGridCell([4,0,0])
		#inputFloat('field.Album.height', 'album.height')
	#end
	#@mdlGridCell([4,0,0])
		#inputInteger('field.Album.pages', 'album.pages')
	#end
	#@mdlGridCell([4,0,0])
		#inputText('field.Album.location', 'album.location')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.freeText')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Album.summary', 'album.summary')
	#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Album.comment', 'album.comment')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.images')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Album.cover', 'album.cover.id', $images, { "allowEmpty": true })
	#end
	#@mdlGridCell([6,4,0])
		#inputSelectMultiple('field.Album.images', 'album.images', $images)
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Album.prices')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputFloat('field.Album.purchasePrice', 'album.purchasePrice') ## TODO: append currency
	#end
	#@mdlGridCell([6,4,0])
		## TODO: price history
		<div class="dem-prices-edit-list dem-repeatable-list">
		#foreach($price in $album.prices)
			#set($priceNum = $velocityCount - 1)
			<div class="dem-repeatable-item">
				#inputDate('field.Album.prices.date', "album.prices[$priceNum].date")
				#inputFloat('field.Album.prices.price', "album.prices[$priceNum].price") ## TODO: append currency
				<button class="mdl-button mdl-js-button mdl-button--icon mdl-button-primary dem-repeatable-remover"><i class="dico">delete</i></button>
			</div>
			<div class="dem-repeatable-template">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input type="date" id="field_album_prices[]_date" name="prices[].date" class="mdl-textfield__input date" />
					<label class="mdl-textfield__label" for="field_album_prices[]_date">#_('field.Album.prices.date')</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input type="number" step="any" id="field_album_prices[]_price" name="prices[].price" class="mdl-textfield__input float" />
					<label class="mdl-textfield__label" for="field_album_prices[]_price">#_('field.Album.prices.price')</label>
				</div>
				<button class="mdl-button mdl-js-button mdl-button--icon mdl-button-primary dem-repeatable-remover"><i class="dico">delete</i></button>
			</div>
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent dem-repeatable-adder"><i class="dico">add</i></button>
		#end
		</div>
	#end
</div>

#saveButtons

#end

<script type="text/javascript">
jQuery(function () {
	demyo.dependentSelect('#field_album_publisher_id', '#field_album_collection_id', function (val) {
			return val == null ? null : "$link.contextPath/publishers/" + val + "/collections";
		});
});
</script>
