#setPageTitleCond($album.id 'title.edit.album', 'title.add.album')

#@form()

## TODO: reorder fields. Check with to see what makes the most sense...

#inputHidden('album.id')
#inputSelect('field.Album.series', 'album.series.id', $series, { "allowEmpty": true })
#inputInteger('field.Album.cycle', 'album.cycle')
#inputFloat('field.Album.number', 'album.number')
#inputText('field.Album.numberSuffix', 'album.numberSuffix')
#inputText('field.Album.title', 'album.title')
#inputSelect('field.Album.publisher', 'album.publisher.id', $publishers, { })
## TODO: load collections with AJAX. Possibly using Spring Data REST ?
#inputSelect('field.Album.collection', 'album.collection.id', [], { })
#inputSelectMultiple('field.Album.writers', 'album.writers', $authors)
#inputSelectMultiple('field.Album.artists', 'album.artists', $authors)
#inputSelectMultiple('field.Album.colorists', 'album.colorists', $authors)
#inputDate('field.Album.firstEditionDate', 'album.firstEditionDate')
#inputDate('field.Album.currentEditionDate', 'album.currentEditionDate')
#inputCheckbox('field.Album.wishlist', 'album.wishlist')
#inputSelect('field.Album.binding', 'album.binding.id', $bindings, { "allowEmpty": true })
#inputFloat('field.Album.width', 'album.width')
#inputFloat('field.Album.height', 'album.height')
#inputInteger('field.Album.pages', 'album.pages')
#inputDate('field.Album.acquisitionDate', 'album.acquisitionDate')
#inputFloat('field.Album.purchasePrice', 'album.purchasePrice') ## TODO: append currency
## TODO: price history
#inputSelectMultiple('field.Album.tags', 'album.tags', $tags)
## TODO: borrower
#inputText('field.Album.isbn', 'album.isbn')
#inputRichText('field.Album.summary', 'album.summary')
#inputRichText('field.Album.comment', 'album.comment')
#inputSelect('field.Album.cover', 'album.cover.id', $images, { "allowEmpty": true })
#inputSelectMultiple('field.Album.images', 'album.images', $images)
## TODO: list of derivatives

#saveButtons

## TODO: button to copy the first edition date to the current edition date

#end
