#setPageTitleParams('title.view.album' $album.title)

$quickTasks.add({
	"id" : "qt-edit-album",
	"url" : "../edit/$album.id",
	"icon": "open_book+edit"
})
$quickTasks.add({
	"id" : "qt-delete-album",
	"url" : "../delete/$album.id",
	"icon": "open_book+delete",
	"confirm" : true
})
##TODO: QT to add a derivative to the Album
##TODO: QT to lend album

#thumbnail($album.cover, {'classes':'model-identification'})

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([6,4,4])
		#entityFieldText('field.Album.identifyingName' $album.identifyingName)
	#end
	#@mdlGridCellCond([6,4,4], $album.series)
		#entityFieldLinkedModel('field.Album.series' $album.series)
	#end
	#set ($cond = !($album.tags.empty))
	#@mdlGridCellCond([12,0,0], $cond)
		#entityFieldTagList('field.Album.tags', $album.tags)
	#end
</div>


<div class="mdl-grid dem-field-set">
	#@mdlGridCell([4,0,0])
		#entityFieldLinkedModel('field.Album.publisher' $album.publisher)
	#end
	#@mdlGridCellCond([4,0,0], $album.collection)
		#entityFieldLinkedModel('field.Album.collection' $album.collection)
	#end
	#@mdlGridCellCond([4,0,0], $album.isbn)
		#entityFieldText('field.Album.isbn' $album.isbn)
	#end
</div>


#if (!($album.writers.empty && $album.artists.empty && $album.colorists.empty))
<div class="mdl-grid dem-field-set">
	#set ($cond = !($album.writers.empty))
	#@mdlGridCellCond([4,0,0], $cond)
		#entityFieldCsvList('field.Album.writers', $album.writers, '/authors/view/')
	#end
	#set ($cond = !($album.artists.empty))
	#@mdlGridCellCond([4,0,0], $cond)
		#entityFieldCsvList('field.Album.artists', $album.artists, '/authors/view/')
	#end
	#set ($cond = !($album.colorists.empty))
	#@mdlGridCellCond([4,0,0], $cond)
		#entityFieldCsvList('field.Album.colorists', $album.colorists, '/authors/view/')
	#end
	#set ($cond = !($album.inkers.empty))
	#@mdlGridCellCond([4,0,0], $cond)
		#entityFieldCsvList('field.Album.inkers', $album.inkers, '/authors/view/')
	#end
	#set ($cond = !($album.translators.empty))
	#@mdlGridCellCond([4,0,0], $cond)
		#entityFieldCsvList('field.Album.translators', $album.translators, '/authors/view/')
	#end
</div>
#end


#if($album.firstEditionDate || $album.currentEditionDate || $album.wishlist || $album.acquisitionDate)
<div class="mdl-grid dem-field-set">
	#if ($album.firstEditionDate && $album.currentEditionDate && $album.firstEditionDate == $album.currentEditionDate)
		#@mdlGridCell([4,0,0])
			#@entityField('field.Album.firstEditionDate')
				$date.format("#_('special.date.format')", $album.firstEditionDate, $appConfig.language)
				#_('field.Album.isFirstEdition')
			#end
		#end
	#elseif ($album.firstEditionDate || $album.currentEditionDate)
		#@mdlGridCell([4,0,0])
			#entityFieldDate('field.Album.firstEditionDate' $album.firstEditionDate)
			#entityFieldDate('field.Album.currentEditionDate' $album.currentEditionDate)
		#end
	#end
	#set ($cond = $album.wishlist || $album.acquisitionDate)
	#@mdlGridCellCond([4,0,0], $cond)
		#if ($album.wishlist)
			#entityFieldBoolean('field.Album.wishlist', $album.wishlist)
		#else
			#entityFieldDate('field.Album.acquisitionDate', $album.acquisitionDate)
		#end
	#end
</div>
#end


<div class="mdl-grid dem-field-set">
	#@mdlGridCellCond([4,0,0], $album.binding)
		#entityFieldLinkedModel('field.Album.binding' $album.binding)
	#end
	#set ($cond = ($album.width || $album.height))
	#@mdlGridCellCond([4,0,0], $cond)
		#if ($album.width && $album.height)
			#entityFieldText('field.Album.size' "#number($album.width) x #number($album.height)")
		#elseif ($album.width)
			#entityFieldNumber('field.Album.width' $album.width)
		#elseif ($album.height)
			#entityFieldNumber('field.Album.height' $album.height)
		#end
	#end
	#@mdlGridCellCond([4,0,0], $album.pages)
		#entityFieldText('field.Album.pages' $album.pages)
	#end
	#@mdlGridCellCond([4,0,0], $album.aggregatedLocation)
		#entityFieldText('field.Album.location' $album.aggregatedLocation)
	#end
</div>


<div class="mdl-grid dem-field-set">
	## TODO: price history
	#@mdlGridCellCond([6,4,0], $album.purchasePrice)
		#entityFieldNumber('field.Album.purchasePrice' $album.purchasePrice) ## TODO: append currency
	#end
</div>


## TODO: borrower

<div class="mdl-grid dem-field-set">
	#@mdlGridCellCond([6,4,0], $album.summary)
		#entityFieldRichText('field.Album.summary', $album.summary)
	#end
	#@mdlGridCellCond([6,4,0], $album.comment)
		#entityFieldRichText('field.Album.comment', $album.comment)
	#end
</div>

## TODO: list of derivatives
## TODO: list of other images