#setPageTitleParams('title.view.album' $album.title)

$quickTasks.add({
	"id" : "qt-edit-album",
	"url" : "../edit/$album.id",
	"icon": "speech_bubble+edit"
})
$quickTasks.add({
	"id" : "qt-delete-album",
	"url" : "../delete/$album.id",
	"icon": "speech_bubble+delete",
	"confirm" : true
})
##TODO: QT to add a derivative to the Album
##TODO: QT to lend album

#thumbnail($album.cover, {'classes':'model-identification'})

#@entityDetails()

#entityFieldLinkedModel('field.Album.series' $album.series)
#entityFieldText('field.Album.identifyingName' $album.identifyingName)
#entityFieldLinkedModel('field.Album.publisher' $album.publisher)
#entityFieldLinkedModel('field.Album.collection' $album.collection)
#entityFieldCsvList('field.Album.writers', $album.writers, '../../author/view/')
#entityFieldCsvList('field.Album.artists', $album.artists, '../../author/view/')
#entityFieldCsvList('field.Album.colorists', $album.colorists, '../../author/view/')
## TODO: first edition & current edition (incl. special if equal)
## TODO: wishlist
#entityFieldLinkedModel('field.Album.binding' $album.binding)
## TODO: number format for size
#if ($album.width && $album.height)
	#entityFieldText('field.Album.size' "$album.width x $album.height")
#elseif ($album.width)
	#entityFieldText('field.Album.width' $album.width)
#elseif ($album.height)
	#entityFieldText('field.Album.height' $album.height)
#end
#entityFieldText('field.Album.pages' $album.pages)
## TODO: prices, purchase price, acquisition date
#entityFieldCsvList('field.Album.tags', $album.tags, '../../tags/view/')
## TODO: borrower
#entityFieldText('field.Album.isbn' $album.isbn)
#entityFieldRichText('field.Album.summary', $album.summary)
#entityFieldRichText('field.Album.comment', $album.comment)

#end

## TODO: list of derivatives
## TODO: list of other images