.project
.recommenders
**/.DS_Store
**/.classpath
**/target
**/.settings
**/.metadata
integration/*.exe
integration/*.tar.bz2
source/.vscode/launch.test.json
source/.mvn/wrapper/maven-wrapper.jar
**/node_modules
**/node_modules.*