#setPageTitleCond($author.id 'title.edit.author', 'title.add.author')

#@form()

#inputHidden('author.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Author.identity')</h6>#end
	#@mdlGridCell([4,3,4])
		#inputText('field.Author.name', 'author.name')
	#end
	#@mdlGridCell([4,3,4])
		#inputText('field.Author.firstName', 'author.firstName')
	#end
	#@mdlGridCell([4,2,4])
		#inputText('field.Author.nickname', 'author.nickname')
	#end
	#@mdlGridCell([6,8,0])
		#inputSelect('field.Author.portrait', 'author.portrait.id', $images, { "allowEmpty": true })
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Author.biography')</h6>#end
	#@mdlGridCell([6,8,0])
		## TODO: RTE is broken :(
		#inputRichText('field.Author.biography', 'author.biography')
	#end
	#@mdlGridCell([6,8,0])
		#inputText('field.Author.website', 'author.website')
	#end
</div>

#saveButtons

#end
