#setPageTitle('title.index.author')

#@fabs()
	#fab('./add', 'add')
#end

#textCardListStdBody($authorList "name" "identifyingName" "./view/" true)

$paging.pageLinks($authorList, $request, $javascript)
