#setPageTitleParams('title.view.author' $author.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-author",
	"url" : "../edit/$author.id",
	"icon": "person+edit"
})
$quickTasks.add({
	"id" : "qt-delete-author",
	"url" : "../delete/$author.id",
	"icon": "person+delete",
	"confirm" : true
})
	
	
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet">
		#@entityField('field.Author.identifyingName')$author.identifyingName#end
		#entityFieldUrl('field.Author.website', $author.website)
		#entityFieldRichText('field.Author.biography', $author.biography)
	</div>
	
	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
		#@thumbnail($author.portrait)#end
	</div>
</div>

<h3 class="mdl-typography--title">#_('page.Author.works')</h3>

#if (!$author.albumsAsWriter.isEmpty())
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asWriter')</h4>
	#textCardListAlbums($author.albumsAsWriter false)
#end

#if (!$author.albumsAsArtist.isEmpty())
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asArtist')</h4>
	#textCardListAlbums($author.albumsAsArtist false)
#end

#if (!$author.albumsAsColorist.isEmpty())
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asColorist')</h4>
	#textCardListAlbums($author.albumsAsColorist false)
#end
