#setPageTitleParams('title.view.author' $author.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-author",
	"url" : "../edit/$author.id",
	"icon": "person+edit"
})
$quickTasks.add({
	"id" : "qt-delete-author",
	"url" : "../delete/$author.id",
	"icon": "person+delete",
	"confirm" : true
})
	
	
#thumbnail($author.portrait, {'classes':'model-identification'})
<div class="mdl-grid">
	#@mdlGridCell([6,4,0])
		#@entityField('field.Author.identifyingName')$author.identifyingName#end
	#end
	#@mdlGridCell([6,4,0])
		#entityFieldUrl('field.Author.website', $author.website)
	#end
	#@mdlGridCellCond([12,0,0], $author.biography)
		#entityFieldRichText('field.Author.biography', $author.biography)
	#end
</div>

<h3 class="mdl-typography--title">#_('page.Author.works')</h3>

#if (!$author.albumsAsWriter.empty)
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asWriter')</h4>
	#textCardListAlbums($author.albumsAsWriter false)
#end

#if (!$author.albumsAsArtist.empty)
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asArtist')</h4>
	#textCardListAlbums($author.albumsAsArtist false)
#end

#if (!$author.albumsAsColorist.empty)
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asColorist')</h4>
	#textCardListAlbums($author.albumsAsColorist false)
#end

#if (!$author.albumsAsInker.empty)
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asInker')</h4>
	#textCardListAlbums($author.albumsAsInker false)
#end

#if (!$author.albumsAsTranslator.empty)
	<h4 class="mdl-typography--subhead">#_('page.Author.works.asTranslator')</h4>
	#textCardListAlbums($author.albumsAsTranslator false)
#end
