// Custom elements part of the layout
.dem-columnized {
	column-gap: 2em;
	column-count: 1;

	// Must rely on rgba to use Vuetify variables
	/* stylelint-disable-next-line color-function-notation */
	column-rule: 1px solid rgb(var(--v-border-color), var(--v-border-opacity));

	@media (width >= 1200px) { // MacBook 13" res, slightly below Vuetify "lg" breakpoint
		columns: 2;
	}

	> * {
		// Never break the main item of a columnized layout
		// This notably fixes a Webkit issue where text would be horizontally split
		// between two columns (top part of the letters in one column and bottom
		// part in the other)
		break-inside: avoid;

		// The following also solves some issues with margins spanning across columns
		// https://css-tricks.com/when-do-you-use-inline-block/
		display: inline-block !important;
		width: 100%; // Else we may get more than one item per line in a single columns
	}
}

.dem-fieldset {
	margin-top: 16px;
	margin-bottom: 8px;
	padding-top: 16px;

	// Must rely on rgba to use Vuetify variables
	/* stylelint-disable-next-line color-function-notation */
	border-top: 1px solid rgb(var(--v-border-color), var(--v-border-opacity));

	&:first-of-type {
		border-top: 0;
		padding-top: 0;
	}
}

.dem-fieldlabel {
	// Must rely on rgba to use Vuetify variables
	/* stylelint-disable-next-line color-function-notation */
	color: rgb(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
	font-size: 12px;
}

.dem-multiline-value {
	white-space: pre;
}
