@mixin dem-model-card-title {
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: currentcolor;
	text-decoration: none;
	cursor: pointer;
	padding: 16px;

	&:hover,
	&:focus {
		// Important is needed because with have the #demyo ID specificity at the top level
		color: currentcolor !important;
		background: rgb(var(--v-theme-on-background), var(--v-hover-opacity));
		text-decoration: none !important;
	}
}
