// Colors and fonts
:root {
	/* stylelint-disable-next-line color-function-notation */
	--dem-text: rgb(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
	/* stylelint-disable-next-line color-function-notation */
	--dem-text-lighter: rgb(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
}

html[lang],
#demyo {
	font-family:
		BlinkMacSystemFont,
		-apple-system,
		Roboto,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
}

#demyo {
	// Style the links
	a:not(.v-btn):not(.v-list-item) {
		text-decoration: none;
		text-decoration-skip-ink: all;

		&:hover {
			color: rgb(var(--v-theme-secondary));
			text-decoration: underline;
		}
	}

	// Style the paragraphs. Used to be part of Vuetify but isn't anymore
	p {
		margin-bottom: 1em;
	}

	// But don't alter the menus
	.v-menu a.v-list-item:hover,
	.v-navigation-drawer a.v-list-item:hover {
		color: inherit;
	}

	.v-input--readonly:not(.v-input--disabled) input,
	.v-input--checkbox.v-input--readonly:not(.v-input--disabled) label {
		// Must rely on rgba to use Vuetify variables
		/* stylelint-disable-next-line color-function-notation */
		color: rgb(var(--v-theme-on-background), var(--v-disabled-opacity));
	}

	.v-card--variant-outlined {
		// Must rely on rgba to use Vuetify variables
		/* stylelint-disable-next-line color-function-notation */
		border-color: rgb(var(--v-border-color), var(--v-border-opacity));
	}

	// Fix for issue #123. Unfortunately I couldn't find a way to only target WebKit/Safari, it only styled filled in inputs or only the "/"
	input[type=date]:not([value]),
	input[type=date][value=''] {
		color: rgb(var(--v-theme-on-background), var(--v-disabled-opacity));
	}
}
