$quickTasks.prepare($javascript)
<!DOCTYPE html>
<html>
	<head>
#if($!pageTitle)
		<title>$pageTitle - Demyo</title>
#else
		<title>Demyo</title>
#end
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet/less" type="text/css" href="$link.contextPath/css/demyo-icons.css">
		<!--<link rel="stylesheet/less" type="text/css" href="$link.contextPath/css/electron.less">-->
		<link rel="stylesheet" type="text/css" href="$link.contextPath/css/material.blue-pink.min.css">
		<link rel="stylesheet/less" type="text/css" href="$link.contextPath/css/demyo.blue-pink.less">
		<script type="text/javascript" src="$link.contextPath/js/less-1.3.1.js"></script>
		$javascript.load('Demyo.Core') ## Always load the core
#foreach($source in $javascript.scriptSources)
		<script type="text/javascript" src="$link.contextPath/js/$source"></script>
#end
	</head>
	<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__drawer-button" data-dem-shortcut="77">#icon('menu')</div>
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">#if($!pageTitle)$pageTitle#end</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Quick links -->
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="$link.contextPath/albums/">TODO</a>
				</nav>
				<!-- Quick search -->
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="quicksearch-field" title="#_('layout.quick_search')">
						<i class="dico">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
  						<input class="mdl-textfield__input" type="text" id="quicksearch-field" placeholder="#_('layout.quick_search.hint')" />
					</div>
  				</div>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">#_('menu.title')</span>
			<nav class="mdl-navigation dem-app-menu" id="main-menu" role="menu">
				#navMenuItem('menu-home', '', 'menu.main.home', 'home')
				<div class="dem-app-menu__title" id"menu-header-albums" data-dem-collapses="#menu-section-albums">#_('menu.section.albums')</div>
				<div class="dem-app-menu__section" id="menu-section-albums">
					## TODO: icons (maybe foresee way for + to overlap regular icon?)
					#navMenuItem('menu-list-albums', 'albums/', 'menu.albums.browse', 'speech_bubble')
					## TODO: use tabs to go to cover list at albums/covers/ _('menu.albums.browse_covers')
					#navMenuItem('menu-lent-albums', 'albums/loans/', 'menu.albums.loans', 'plane')
					#navMenuItem('menu-add-album', 'albums/add', 'menu.albums.add', 'speech_bubble+add')
					#navMenuItem('menu-list-series', 'series/', 'menu.series.browse', 'books')
					#navMenuItem('menu-add-series', 'series/add', 'menu.series.add', 'books+add')
					#navMenuItem('menu-list-tags', 'tags/', 'menu.tags.browse', 'tag')
					#navMenuItem('menu-list-bindings', 'bindings/', 'menu.bindings.browse', 'book')
					#navMenuItem('menu-add-binding', 'bindings/add', 'menu.bindings.add', 'book+add')
				</div>
				
				<div class="dem-app-menu__title" id"menu-header-authoring" data-dem-collapses="#menu-section-authoring" data-dem-collapsed-initially>#_('menu.section.authoring')</div>
				<div class="dem-app-menu__section" id="menu-section-authoring">
					#navMenuItem('menu-list-authors', 'authors/', 'menu.authors.browse', 'person')
					#navMenuItem('menu-add-author', 'authors/add', 'menu.authors.add', 'person+add')
					#navMenuItem('menu-list-publishers', 'publishers/', 'menu.publishers.browse', 'building')
					#navMenuItem('menu-add-publisher', 'publishers/add', 'menu.publishers.add', 'building+add')
					#navMenuItem('menu-add-collection', 'collections/add', 'menu.collections.add', 'city+add')
				</div>
				
				<div class="dem-app-menu__title" id"menu-header-derivatives" data-dem-collapses="#menu-section-derivatives" data-dem-collapsed-initially>#_('menu.section.derivatives')</div>
				<div class="dem-app-menu__section" id="menu-section-derivatives">
					#navMenuItem('menu-list-derivatives', 'derivatives/', 'menu.derivatives.browse', 'photo')
					## TODO: use tabs for sticker list?
					#navMenuItem('menu-list-derivatives-stickers', 'derivatives/stickers/', 'menu.derivatives.browse.stickers', 'sticky_note')
					#navMenuItem('menu-add-derivative', 'derivatives/add', 'menu.derivatives.add', 'photo+add')
					#navMenuItem('menu-list-images', 'images/', 'menu.images.browse', 'image_file')
					#navMenuItem('menu-add-image', 'images/add', 'menu.images.add', 'image_file+add')
					#navMenuItem('menu-list-derivative-sources', 'derivativeSources/', 'menu.derivative_sources.browse', 'person_location')
					#navMenuItem('menu-list-derivative-sources', 'derivativeSources/add', 'menu.derivative_sources.add', 'person_location+add')
					#navMenuItem('menu-list-derivative-types', 'derivativeTypes/', 'menu.derivative_types.browse', 'paint_brush')
					#navMenuItem('menu-add-derivative-type', 'derivativeTypes/add', 'menu.derivative_types.add', 'paint_brush+add')
				</div>
				
				<div class="dem-app-menu__title" id"menu-header-management" data-dem-collapses="#menu-section-management" data-dem-collapsed-initially>#_('menu.section.management')</div>
				<div class="dem-app-menu__section" id="menu-section-management">
					#navMenuItem('menu-search', 'search/advanced', 'menu.manage.search', 'search_advanced')
					#navMenuItem('menu-export', 'library/export', 'menu.manage.export', 'download')
					#navMenuItem('menu-import', 'manage/import', 'menu.manage.import', 'upload')
					#navMenuItem('menu-statistics', 'library/statistics/', 'menu.manage.stats', 'pie_chart')
					#navMenuItem('menu-configure', 'configure', 'menu.manage.configure', 'settings')
					#navMenuItem('menu-orphans', 'library/orphans/', 'menu.manage.orphans', 'unlink')
					#navMenuItem('menu-help', 'help/', 'menu.manage.help', 'help')
					#navMenuItem('menu-about', 'about/', 'menu.manage.about', 'info')
				</div>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div id="page-content">
				#if (!$quickTasks.isEmpty())
					<button id="button-quick-tasks" class="mdl-button mdl-js-button mdl-button--icon" title="#_('quickTasks.title')">
						#icon('ellipsis_v')
					</button>

					<ul id="menu-quick-tasks" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="button-quick-tasks">
					#foreach ($task in $quickTasks)
						<li class="mdl-menu__item" id="$task.id" #if($task.confirm)data-qt-confirm="#_($task.confirmLabel)"#end>
							<a href="$task.url">
								#if($task.icon != '')#icon($task.icon)#end#_($task.label)
							</a>
						</li>
					#end
					</ul>
				#end
				
				$screen_content
			</div>
			## Keep the footer in the page content to avoid displaying it all the time
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__middle-section">
					<div class="mdl-logo">Demyo v2.0.0-alpha2</div>## TODO: make this dynamic
				</div>
			</footer>
		</main>
#if ($javascript.isLoaded("TinyMCE"))
		<script type="text/javascript">
			demyoTinyMCEInit('#_("javascript.l10n.tinyMCE")');
		</script>
#end
	</body>
</html>
