$quickTasks.prepare($javascript)
#parse('layout/common-header.vm')
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__drawer-button" data-dem-shortcut="77" id="menu-icon">#icon('menu')</div>
			<div class="mdl-tooltip" for="menu-icon">#_('menu.title')</div>
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">#if($!pageTitle)$pageTitle#end</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				
				#if (! $appConfig.headerLinks.empty)
				<!-- Quick links -->
				<nav class="mdl-navigation mdl-layout--large-screen-only" id="header-quick-links">
					#foreach ($entry in $appConfig.headerLinks)
						<a href="$link.contextPath/$entry.urlFromRoot" class="mdl-button mdl-js-button mdl-button--icon" id="$entry.id">#icon($entry.iconSpec)</a>
						<div class="mdl-tooltip" for="$entry.id">#_("$entry.label")</div>
					#end
				</nav>
				#end
				
				#if (!$!suppressQuickSearch)
				<!-- Quick search -->
				<div id="header-quicksearch" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right  mdl-layout--large-screen-only">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="quicksearch-header-field" id="quicksearch-header-icon">
						<i class="dico">search</i>
					</label>
					<div class="mdl-tooltip" for="quicksearch-header-icon">#_('layout.quick_search')</div>
					<div class="mdl-textfield__expandable-holder">
  						<input class="mdl-textfield__input" type="text" id="quicksearch-header-field" placeholder="#_('layout.quick_search.hint')" data-dem-shortcut="82" />
					</div>
  				</div>
  				#end
  				
  				#if (!$quickTasks.tasks.empty || !$quickTasks.overflow.empty)
  					<!-- Quick tasks -->
  					<div id="header-quick-tasks">
						<nav class="mdl-navigation">
	  						#if (!$quickTasks.tasks.empty)
									#foreach ($task in $quickTasks.tasks)
										<a href="$task.url" class="mdl-button mdl-js-button mdl-button--icon" id="$task.id">#icon($task.icon)</a>
										<div class="mdl-tooltip" for="$task.id">#_($task.label)</div>
									#end
							#end
	
			  				#if (!$quickTasks.overflow.empty)
									<button id="button-quick-tasks" class="mdl-button mdl-js-button mdl-button--icon">
										#icon('ellipsis_v')
									</button>
									<div class="mdl-tooltip" for="button-quick-tasks">#_("quickTasks.title")</div>
				
									<div id="menu-quick-tasks" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="button-quick-tasks">
										#foreach ($task in $quickTasks.overflow)
											<a class="mdl-menu__item" id="$task.id" #if($task.confirm)data-qt-confirm="#_($task.confirmLabel)"#end href="$task.url">
												#icon($task.icon)#_($task.label)
											</a>
										#end
									</div>
								<div>
							#end
						</nav>
				#end
			</div>
			#if($!pageTabs)
				<div class="mdl-layout__tab-bar mdl-js-ripple-effect">	
				#foreach ($tab in $pageTabs)
					<a href="$tab.url" class="mdl-layout__tab #if($tab.active)is-active#end">#_($tab.label)</a>
				#end
				</div>
				## TODO: check MDL issue #4072 for a fix to the tab thing. Then, remove this hack.
				<script type="text/javascript">
					jQuery(function () {
						jQuery('a.mdl-layout__tab').click(function () {
							window.location.href = jQuery(this).attr('href');
						});
					});
				</script>
			#end
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">#_('menu.title')</span>
			#if (!$!suppressQuickSearch)
			<!-- Quick search -->
			<div class="mdl-textfield mdl-js-textfield mdl-layout--small-screen-only" id="menu-quicksearch">
				<label for="quicksearch-menu-field" title="#_('layout.quick_search')">
					<i class="dico">search</i>
				</label>
				<input class="mdl-textfield__input" type="text" id="quicksearch-menu-field" placeholder="#_('layout.quick_search.hint')" />
			</div>
			#end
			
			<nav class="mdl-navigation dem-app-menu" id="main-menu" role="menu">
				#set ($reader = $demyoReaderService.context.currentReader)
				<a id="menu-switch-reader" href="$link.contextPath/readers/" class="mdl-navigation__link">
					<span class="dem-reader-icon" #if($!reader.colour)style="background: $reader.colour"#end>$reader.name.charAt(0)</span>
					<span>$reader.name</span>
				</a>
				<div class="mdl-tooltip" for="menu-switch-reader">#_('menu.reader.switch.tooltip')</div>
				#navMenuItem('menu-home', '', 'menu.main.home', 'home')
				<div class="dem-app-menu__title" id="menu-header-albums" data-dem-collapses="#menu-section-albums">#_('menu.section.comics')</div>
				<div class="dem-app-menu__section" id="menu-section-albums">
					#navMenuItem('menu-list-series', 'series/', 'menu.series.browse', 'books')
					#navMenuItem('menu-add-series', 'series/add', 'menu.series.add', 'books+add')
					#navMenuItem('menu-list-albums', 'albums/', 'menu.albums.browse', 'open_book')
					## TODO: use tabs to go to cover list at albums/covers/ _('menu.albums.browse_covers')
					##navMenuItem('menu-lent-albums', 'albums/loans/', 'menu.albums.loans', '')
					#navMenuItem('menu-add-album', 'albums/add', 'menu.albums.add', 'open_book+add')
					#navMenuItem('menu-list-images', 'images/', 'menu.images.browse', 'camera')
					#navMenuItem('menu-add-image', 'images/upload', 'menu.images.add', 'camera+add')
					#navMenuItem('menu-list-tags', 'tags/', 'menu.tags.browse', 'tag')
					#navMenuItem('menu-list-tags', 'tags/add', 'menu.tags.add', 'tag+add')
					#navMenuItem('menu-list-bindings', 'bindings/', 'menu.bindings.browse', 'closed_book')
					#navMenuItem('menu-add-binding', 'bindings/add', 'menu.bindings.add', 'closed_book+add')
				</div>
				
				<div class="dem-app-menu__title" id="menu-header-authoring" data-dem-collapses="#menu-section-authoring" data-dem-collapsed-initially>#_('menu.section.authoring')</div>
				<div class="dem-app-menu__section" id="menu-section-authoring">
					#navMenuItem('menu-list-authors', 'authors/', 'menu.authors.browse', 'person')
					#navMenuItem('menu-add-author', 'authors/add', 'menu.authors.add', 'person+add')
					#navMenuItem('menu-list-publishers', 'publishers/', 'menu.publishers.browse', 'store')
					#navMenuItem('menu-add-publisher', 'publishers/add', 'menu.publishers.add', 'store+add')
					#navMenuItem('menu-add-collection', 'collections/add', 'menu.collections.add', 'picture_in_picture+add')
				</div>
				
				<div class="dem-app-menu__title" id="menu-header-derivatives" data-dem-collapses="#menu-section-derivatives" data-dem-collapsed-initially>#_('menu.section.derivatives')</div>
				<div class="dem-app-menu__section" id="menu-section-derivatives">
					#navMenuItem('menu-list-derivatives', 'derivatives/', 'menu.derivatives.browse', 'image')
					## TODO: use tabs for sticker list?
					##navMenuItem('menu-list-derivatives-stickers', 'derivatives/stickers/', 'menu.derivatives.browse.stickers', 'sticky_note')
					#navMenuItem('menu-add-derivative', 'derivatives/add', 'menu.derivatives.add', 'image+add')
					#navMenuItem('menu-list-derivative-sources', 'derivativeSources/', 'menu.derivative_sources.browse', 'person_location')
					#navMenuItem('menu-list-derivative-sources', 'derivativeSources/add', 'menu.derivative_sources.add', 'person_location+add')
					#navMenuItem('menu-list-derivative-types', 'derivativeTypes/', 'menu.derivative_types.browse', 'paint_brush')
					#navMenuItem('menu-add-derivative-type', 'derivativeTypes/add', 'menu.derivative_types.add', 'paint_brush+add')
				</div>
				
				<div class="dem-app-menu__title" id="menu-header-management" data-dem-collapses="#menu-section-management" data-dem-collapsed-initially>#_('menu.section.management')</div>
				<div class="dem-app-menu__section" id="menu-section-management">
					##navMenuItem('menu-search', 'search/advanced', 'menu.manage.search', 'search_advanced')
					#navMenuItem('menu-export', 'manage/export', 'menu.manage.export', 'download')
					#navMenuItem('menu-import', 'manage/import', 'menu.manage.import', 'upload')
					##navMenuItem('menu-statistics', 'library/statistics/', 'menu.manage.stats', 'pie_chart')
					##navMenuItem('menu-configure', 'configure', 'menu.manage.configure', 'settings')
					##navMenuItem('menu-orphans', 'library/orphans/', 'menu.manage.orphans', 'unlink')
					##navMenuItem('menu-help', 'help/', 'menu.manage.help', 'help')
					#navMenuItem('menu-about', 'about/', 'menu.manage.about', 'info')
				</div>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div id="page-content">
				$screen_content
			</div>
			<div id="quickSearch-results">
			</div>
			## Keep the footer in the page content to avoid having it stick
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__middle-section">
					<div class="mdl-logo">Demyo "$appCodename" <!-- v$appVersion --></div>
				</div>
			</footer>
		</main>
	</div>
	</body>
</html>
