#setPageTitleCond($series.id 'title.edit.series', 'title.add.series')

#@form()

#inputHidden('series.id')

<div class="mdl-grid dem-field-set">
	<div class="mdl-cell mdl-cell--12-col"><h6>#_('fieldset.Series.identification')</h6></div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputText('field.Series.name', 'series.name')
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputText('field.Series.website', 'series.website')
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputSelectMultiple('field.Series.relatedSeries', 'series.relatedSeries', $otherSeries)
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputCheckbox('field.Series.completed', 'series.completed')
	</div>
</div>

<div class="mdl-grid dem-field-set">
	<div class="mdl-cell mdl-cell--12-col"><h6>#_('fieldset.Series.freeText')</h6></div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputRichText('field.Series.summary', 'series.summary')
	</div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#inputRichText('field.Series.comment', 'series.comment')
	</div>
</div>



#saveButtons

#end
