#setPageTitleCond($series.id 'title.edit.series', 'title.add.series')

#@form()

#inputHidden('series.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Series.identification')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Series.name', 'series.name')
	#end
	#@mdlGridCell([6,4,0])
		#inputSelectMultiple('field.Series.relatedSeries', 'series.relatedSeries', $otherSeries)
	#end
	#@mdlGridCell([4,4,0])
		#inputText('field.Series.website', 'series.website')
	#end
	#@mdlGridCell([4,4,0])
		#inputCheckbox('field.Series.completed', 'series.completed')
	#end
	#@mdlGridCell([4,0,0])
		#inputText('field.Series.location', 'series.location')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Series.freeText')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Series.summary', 'series.summary')
	#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Series.comment', 'series.comment')
	#end
</div>

#saveButtons

#end
