#setPageTitle('title.index.series')

#textCardListStdBody($seriesList "identifyingName" "identifyingName" "./view/" true)

$paging.pageLinks($seriesList, $request, $javascript)
$paging.letters($request)
