#setPageTitle('title.index.series')

#@fabs()
	#fab('./add', 'add')
#end

#textCardListStdBody($seriesList "identifyingName" "identifyingName" "./view/" true)

$paging.pageLinks($seriesList, $request, $javascript)
