#setPageTitleParams('title.view.series' $series.identifyingName)

$javascript.load('Demyo.Readers')

$quickTasks.add({
	"id" : "qt-fave-series",
	"url" : "$link.contextPath/readers/current/favourites/series/$series.id",
	"icon": "heart_outline",
	"overflow": false
})
$quickTasks.add({
	"id" : "qt-unfave-series",
	"url" : "$link.contextPath/readers/current/favourites/series/$series.id",
	"icon": "heart",
	"overflow": false
})
#if ($readingListIsRelevant)
$quickTasks.add({
	"id" : "qt-add-series-to-readingList",
	"url" : "$link.contextPath/readers/current/readingList/series/$series.id",
	"icon": "bookmark",
	"requiresPost": true
})
#end
$quickTasks.add({
	"id" : "qt-edit-series",
	"url" : "../edit/$series.id",
	"icon": "books+edit"
})
#if ($series.totalAlbumCount <= 0)
	$quickTasks.add({
		"id" : "qt-delete-series",
		"url" : "../delete/$series.id",
		"icon": "books+delete",
		"confirm" : true
	})
#end
$quickTasks.add({
	"id" : "qt-add-album-to-series",
	"url" : "../../albums/add/?toSeries=$series.id",
	"icon": "open_book+add"
})
#set ($hasWishlistAlbums = $series.ownedAlbumCount != $series.totalAlbumCount)
#if ($hasWishlistAlbums)
	$quickTasks.add({
		"id" : "qt-show-wishlist-albums",
		"url" : "#",
		"icon": "gift+eye"
	})
	$quickTasks.add({
		"id" : "qt-hide-wishlist-albums",
		"url" : "#",
		"icon": "gift+eye_slashed"
	})
#end
##TODO: QT to add a derivative to the series
##TODO: QT to lend albums if at least one album
##TODO: QT to tag all albums if at least one album
##TODO: QT to remove a tag if at least one album

<input type="hidden" id="is_favourite" value="$demyoReaderService.context.isFavouriteSeries($series)">

<div class="mdl-grid">
	#@mdlGridCell([6,4,4])
		#entityFieldText('field.Series.identifyingName' $series.identifyingName)
	#end
	#@mdlGridCellCond([6,4,4], $series.website)
		#entityFieldUrl('field.Series.website', $series.website)
	#end
	#@mdlGridCell([4,0,0])
		#entityFieldBoolean('field.Series.completed', $series.completed)
	#end
	#@mdlGridCell([4,0,0])
		#@entityField('field.Series.albumCount')
			#if ($series.ownedAlbumCount == $series.totalAlbumCount)
				#_p('field.Series.albumCount.count.full', $series.totalAlbumCount)
			#else
				#_p('field.Series.albumCount.count.partial', [ $series.ownedAlbumCount, $series.totalAlbumCount ])
			#end
		#end
	#end
	#@mdlGridCellCond([4,0,0], $series.location)
		#entityFieldText('field.Series.location', $series.location)
	#end
	#set ($cond = !($series.albumWriters.empty && $series.albumArtists.empty && $series.albumColorists.empty
					&& $series.albumInkers.empty && $series.albumTranslators.empty))
	#@mdlGridCellCond([6,4,4], $cond)
		#entityFieldCsvList('field.Series.albumWriters', $series.albumWriters, '/authors/view/')
		#entityFieldCsvList('field.Series.albumArtists', $series.albumArtists, '/authors/view/')
		#entityFieldCsvList('field.Series.albumColorists', $series.albumColorists, '/authors/view/')
		#entityFieldCsvList('field.Series.albumInkers', $series.albumInkers, '/authors/view/')
		#entityFieldCsvList('field.Series.albumTranslators', $series.albumTranslators, '/authors/view/')
	#end
	#set ($cond = !($series.albumTags.empty && $series.relatedSeries.empty))
	#@mdlGridCellCond([6,4,4], $cond)
		#entityFieldTagList('field.Series.albumTags', $series.albumTags)
		#entityFieldCsvList('field.Series.relatedSeries', $series.relatedSeries, '/series/view/')
	#end
	#@mdlGridCellCond([6,4,4], $series.summary)
		#entityFieldRichText('field.Series.summary', $series.summary)
	#end
	#@mdlGridCellCond([6,4,4], $series.comment)
		#entityFieldRichText('field.Series.comment', $series.comment)
	#end
</div>
##TODO: derivatives

##TODO: cover slider or equivalent

#if (!$series.albums.empty)
<div id="dem-series-album-list" class="mdl-grid">

	#foreach($album in $series.albums)
		<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet #if($album.wishlist)dem-hidden#end">
			<div class="mdl-card mdl-shadow--2dp dem-album-card #if($album.wishlist)dem-album--wishlist#end">
				<div class="mdl-card__title">
					<a href="$link.contextPath/albums/view/$album.id" class="mdl-card__title-text">$album.identifyingName</a>
					<button id="button-quick-tasks-album-$album.id" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="dico">ellipsis_v</i>
					</button>
					<div class="mdl-tooltip" for="button-quick-tasks-album-$album.id">#_("quickTasks.title")</div>
					<div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="button-quick-tasks-album-$album.id">
						<a class="mdl-menu__item" href="$link.contextPath/albums/edit/$album.id">
							#icon('open_book+edit')#_('quickTasks.edit.album')
						</a>
						<a class="mdl-menu__item" href="$link.contextPath/albums/delete/$album.id" data-qt-confirm="#_('quickTasks.delete.album.confirm')">
							#icon('open_book+delete')#_('quickTasks.delete.album')
						</a>
					</div>
				</div>
				<div class="dem-album-card__details">
					## TODO: have some JavaScript to avoid loading images (defer loading) if the layout is small
					#thumbnail($album.cover, {})
					#set ($isRL = $demyoReaderService.context.isAlbumInReadingList($album))
					#set ($isFave = $demyoReaderService.context.isFavouriteAlbum($album))
					#if ($isRL || $isFave)
					<div class="dem-form-value__field">
						#if ($isRL)
							<div class="dem-note">
								<i class="dico">bookmark</i>
								<span class="dem-note__text">#_('field.Album.inReadingList')</span>
							</div>
						#end
						#if ($isFave)
							<div class="dem-note dem-note--accent">
								<i class="dico">heart</i>
								<span class="dem-note__text">#_('field.Album.isYourFavourite')</span>
							</div>
						#end
					</div>
					#end
					#entityFieldLinkedModel('field.Album.publisher' $album.publisher)
					#entityFieldLinkedModel('field.Album.collection' $album.collection)
					#entityFieldCsvList('field.Album.writers', $album.writers, "/authors/view/")
					#entityFieldCsvList('field.Album.artists', $album.artists, "/authors/view/")
					#entityFieldTagList('field.Album.tags', $album.tags)
				</div>
			</div>
		</div>
	#end

</div>
#end

#if ($hasWishlistAlbums)
<script type="text/javascript">
	// Handler for show/hide wishlist albums
	jQuery(function () {
		jQuery('#qt-hide-wishlist-albums').hide();
		
		jQuery('#qt-hide-wishlist-albums').click(function (e) {
			e.preventDefault();
			jQuery('#qt-hide-wishlist-albums').hide();
			jQuery('#qt-show-wishlist-albums').show();
			jQuery('.dem-album--wishlist').parent().addClass('dem-hidden');
		});
		
		jQuery('#qt-show-wishlist-albums').click(function (e) {
			e.preventDefault();
			jQuery('#qt-hide-wishlist-albums').show();
			jQuery('#qt-show-wishlist-albums').hide();
			jQuery('.dem-album--wishlist').parent().removeClass('dem-hidden');
		});
	});
</script>
#end