#setPageTitleCond($tag.id 'title.edit.tag', 'title.add.tag')

#@form()

#inputHidden('tag.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([6,4,0])
		#inputText('field.Tag.name', 'tag.name')
	#end
	#@mdlGridCell([6,4,0])
		#@entityField('field.Tag.preview')
			<span id="tag-preview" class="dem-tag" style="#if($tag.fgColour)color: $tag.fgColour;#end #if($tag.bgColour)background-color: $tag.bgColour;#end">
				<a href="#">#if($!tag.name)$tag.name#end</a>
			</span>
		#end
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Tag.colors')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputColour('field.Tag.fgColour', 'tag.fgColour')
	#end
	#@mdlGridCell([6,4,0])
		#inputColour('field.Tag.bgColour', 'tag.bgColour')
	#end
</div>


#saveButtons

#end

<script type="text/javascript">
function updatePreview() {
	jQuery('\#tag-preview > a').text(jQuery('#field_tag_name').val());
	jQuery('\#tag-preview, \#tag-preview > a').css({
		'color': getColour('#field_tag_fgColour'),
		'background-color': getColour('#field_tag_bgColour')
	});
}
function getColour(selector) {
	var input = jQuery(selector);
	return input.is(':disabled') ? 'inherit' : input.val();
}
jQuery(function () {
	jQuery('.dem-model-form input').on('input change keyDown click', updatePreview);
	// Trigger initially
	jQuery('#field_tag_name').change();
});
</script>