#setPageTitle('title.index.tag')

#@fabs()
	#fab('./add', 'add')
#end

#set ($maxCount = 10) ## Start at something reasonable, or it will look silly when there are few tags and they're barely used

#foreach($tag in $tagList)
	#if ($tag.occurrencesCount > $maxCount)
		#set ($maxCount = $tag.occurrencesCount)
	#end
#end

<div class="dem-tag-index">
	#foreach ($tag in $tagList)
	#set ($relativeSize = 100 * $tag.occurrencesCount / $maxCount + 100)
	<span class="dem-tag" style="font-size: $relativeSize%; #if($tag.fgColour)color: $tag.fgColour;#end #if($tag.bgColour)background-color: $tag.bgColour;#end">##
<a href="./view/$tag.id">$tag.name</a> <span class="dem-tag__count">${tag.occurrencesCount}</span>##
</span> 
	#end
</div>
