#setPageTitleParams('title.view.tag' $tag.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-tag",
	"url" : "../edit/$tag.id",
	"icon": "tag+add"
})
$quickTasks.add({
	"id" : "qt-delete-author",
	"url" : "../delete/$tag.id",
	"icon": "tag+delete",
	"confirm" : true
})

#@entityField('field.Tag.identifyingName')
	#tag($tag)
#end

#if (!$tag.taggedAlbums.isEmpty())
	#@entityField('field.Tag.taggedAlbums')
		#textCardListAlbums($tag.taggedAlbums false)
	#end
#end
