#setPageTitleParams('title.view.tag' $tag.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-tag",
	"url" : "../edit/$tag.id",
	"icon": "tag+add"
})
$quickTasks.add({
	"id" : "qt-delete-author",
	"url" : "../delete/$tag.id",
	"icon": "tag+delete",
	"confirm" : true
})

## Grids are not really required here, but theyr provide a more consistent look & feel compared to other pages
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		#@entityField('field.Tag.identifyingName')
			#tag($tag)
		#end
		
		#if (!$tag.taggedAlbums.isEmpty())
			#@entityField('field.Tag.taggedAlbums')
				#textCardListAlbums($tag.taggedAlbums false)
			#end
		#end
	</div>
</div>