#setPageTitleParams('title.view.tag' $tag.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-tag",
	"url" : "../edit/$tag.id",
	"icon": "tag+add"
})
$quickTasks.add({
	"id" : "qt-delete-author",
	"url" : "../delete/$tag.id",
	"icon": "tag+delete",
	"confirm" : true
})

#@entityDetails()

#@entityField('field.Tag.identifyingName')
	<span class="tag" style="#if($tag.fgColour)color: $tag.fgColour;#end #if($tag.bgColour)background-color: $tag.bgColour;#end">
		<a href="./$tag.id">$tag.name</a>
	</span>
#end

#if (!$tag.taggedAlbums.isEmpty())
	## TODO: sort this list, and split it by Series
	#@entityField('field.Tag.taggedAlbums')
		<ul>
			#foreach ($album in $tag.taggedAlbums)
				<li><a href="../../albums/view/$album.id">$album.identifyingName</a></li>
			#end
		</ul>
	#end
#end

#end