#macro(setPageTitle $labelId)
	#set( $pageTitle = "#_($labelId)" )
#end

#macro(setPageTitleParams $labelId $params)
	#set( $pageTitle = "#_p($labelId $params)" )
#end

#macro(setPageTitleCond $condition $labelIdIfTrue $labelIdIfFalse)
	#if ($condition)
		#setPageTitle($labelIdIfTrue)
	#else
		#setPageTitle($labelIdIfFalse)
	#end
#end

#macro(navMenuItem $id $urlFromRoot $labelId $icon)
<a id="$id" href="$link.contextPath/$urlFromRoot" class="mdl-navigation__link">#icon($icon)#_("$labelId")</a>##
#end

#macro(icon $iconSpec)
	#if ($!iconSpec && $iconSpec != '')
		#set( $sepIndex = $iconSpec.indexOf('+') )
		#if ($sepIndex >= 0)
			#set( $overlayStart = $sepIndex + 1 )
			<span class="dico-stack">
				<i class="dico">$iconSpec.substring(0, $sepIndex)</i>
				<i class="dico dico-overlay">$iconSpec.substring($overlayStart, $iconSpec.length())</i>
			</span>
		#else
			<i class="dico">$iconSpec</i>
		#end
	#else
		<i class="dico dico-placeholder"></i>
	#end
#end

#macro(fab $url $iconSpec)
	<a href="$url" class="dem-fab-button">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	  		## TODO: use material icon rather than FontAwesome, for "add"
	  		#icon($iconSpec)
		</button>
	</a>
#end