#macro(entityDetails)
<div class="details">
	$bodyContent
</div>
#end

#macro(entityField $labelId)
	<div class="field">
		<label>#_($labelId)</label>
		<div class="value">
			$bodyContent
		</div>
	</div>
#end

#macro(entityFieldText $labelId $value)
	#if($value)
		#@entityField($labelId)$value#end
	#end
#end

#macro(entityFieldMultilineText $labelId $value)
	#if($value)
		#@entityField($labelId)$value.replaceAll("\n", "<br />")#end
	#end
#end

#macro(entityFieldBoolean $labelId $value)
	<div class="field">
		<label>#_("${labelId}.view")</label>
		<div class="value">
			#if($value)
				#_("${labelId}.value.true")
			#else
				#_("${labelId}.value.false")
			#end
		</div>
	</div>
#end

#macro(entityFieldUrl $labelId $url)
	#if($url)
		#@entityField($labelId)
			<a href="$url">$url</a>
		#end
	#end
#end

#macro(entityFieldEmail $labelId $email)
	#if($email)
		#@entityField($labelId)
			<a href="mailto:$email">$email</a>
		#end
	#end
#end

#macro(entityFieldRichText $labelId $value)
	#if($value)
		#@entityField($labelId)
			$rte.parse($value, $link.contextPath, $demyoTranslationService)
		#end
	#end
#end

#macro(entityFieldCsvList $labelId $entityList $baseUrl)
	#if($entityList && !$entityList.isEmpty())
		#@entityField($labelId)
			#csvList($entityList $baseUrl)
		#end
	#end
#end
