#macro(entityDetails)
## TODO: remove this from everywhere
<div class="details">
	$bodyContent
</div>
#end

#macro(entityField $labelId)
	<div class="dem-form-value__field">
		<label class="dem-form__label">#_($labelId)</label>
		<div class="dem-form__value">
			$bodyContent
		</div>
	</div>
#end

#macro(entityFieldText $labelId $value)
	#if($value)
		#@entityField($labelId)$value#end
	#end
#end

#macro(entityFieldMultilineText $labelId $value)
	#if($value)
		#@entityField($labelId)$value.replaceAll("\n", "<br />")#end
	#end
#end

#macro(entityFieldBoolean $labelId $value)
	<div class="dem-form-value__field">
		<label class="dem-form__label">#_("${labelId}.view")</label>
		<div class="dem-form__value">
			#if($value)
				#_("${labelId}.value.true")
			#else
				#_("${labelId}.value.false")
			#end
		</div>
	</div>
#end

#macro(entityFieldUrl $labelId $url)
	#if($url)
		#@entityField($labelId)
			<a href="$url" class="dem-user-provided">$url</a>
		#end
	#end
#end

#macro(entityFieldEmail $labelId $email)
	#if($email)
		#@entityField($labelId)
			<a href="mailto:$email">$email</a>
		#end
	#end
#end

#macro(entityFieldRichText $labelId $value)
	#if($!value && $value != '')
		#@entityField($labelId)
			$rte.parse($value, $link.contextPath, $demyoTranslationService)
		#end
	#end
#end

#macro(entityFieldNumber $labelId $value)
	#if($value)
		#@entityField($labelId)#number($value)#end
	#end
#end

#macro(entityFieldDate $labelId $value)
	#if($value)
		#@entityField($labelId)$date.format("#_('special.date.format')", $value, $appConfig.language)#end
	#end
#end

#macro(entityFieldCsvList $labelId $entityList $baseUrl)
	#if($entityList && !$entityList.empty)
		#@entityField($labelId)
			#csvList($entityList $baseUrl)
		#end
	#end
#end

#macro(entityFieldTagList $labelId $entityList)
	#if($entityList && !$entityList.empty)
		#@entityField($labelId)
			#tagList($entityList)
		#end
	#end
#end

#macro(entityFieldLinkedModel $labelId $model)
	#if($model)
		## Auto-detect URL
		#if ($model.class.simpleName == 'Album')
			#set ($baseUrl = "albums")
		#elseif ($model.class.simpleName == 'Author')
			#set ($baseUrl = "authors")
		#elseif ($model.class.simpleName == 'Collection')
			#set ($baseUrl = "collections")
		#elseif ($model.class.simpleName == 'DerivativeSource')
			#set ($baseUrl = "derivativeSources")
		#elseif ($model.class.simpleName == 'DerivativeType')
			#set ($baseUrl = "derivativeTypes")
		#elseif ($model.class.simpleName == 'Publisher')
			#set ($baseUrl = "publishers")
		#elseif ($model.class.simpleName == 'Series')
			#set ($baseUrl = "series")
		#else
			#set ($baseUrl = "TODO $model.class.simpleName")
		#end
		#@entityField($labelId)$link.contextPath<a href="$link.contextPath/$baseUrl/view/${model.id}">$model.identifyingName</a>#end
	#end
#end