## This library includes some tricks to make whitespaces behave properly. Labels are so frequent, we want to avoid
## line breaks every time

#macro(_ $labelId)
$demyoTranslationService.translate($labelId)##
#end

#macro(_p $labelId $params)
$demyoTranslationService.translate($labelId, $params)##
#end

#macro(number $toFormat)
$number.format("#[[#,##0.##]]#", $toFormat, $appConfig.language)## The pattern is escaped with Velocity
#end

#macro(date $value)
$date.format("#_('special.date.format')", $value, $appConfig.language)##
#end