#macro(thumbnail $image $options)
#if ($image)
<figure class="thumb $!options.classes">
	<a href="$link.contextPath/images/full/$image.id/$image.userFileName">
		<img src="$link.contextPath/images/thumbnail/$image.id/$image.url" alt="$image.description" />
	</a>
	#if ($!bodyContent && $bodyContent != '')
		<div class="dem-thumb-legend">$bodyContent</div>
	#end
</figure>
#end
#end

#macro(thumbGalleryPlain $imageList)
	#@thumbGalleryCustomBody($imageList)
		#@thumbnail($entity, {})#end
	#end
#end

#macro(thumbGalleryCustomBody $entityList)
	<div class="dem-gallery">
	#foreach ($entity in $entityList)
		## A bit hacky, but we need this kind of flexibility to expose this to the bodyContent
		#set ($temp = $context.this.put("entity", $entity))
		
		$bodyContent
	#end
	</div>
#end