#macro(textList $entityList $sortProperty $displayProperty $baseUrl $splitByFirstLetter)
	#set ($first = true)
	#set ($lastFirstLetter = '/')
	<div class="text-list">
	#if (!$splitByFirstLetter)
		<ul>
	#end
	#foreach ($entity in $entityList)
		## A bit hacky, but we need this kind of flexibility
		#set ($temp = $context.this.put("entity", $entity))
		
		#if ($splitByFirstLetter)
			#set ($firstLetter = $paging.getFirstLetter($render.eval($context.this, "\$entity.$sortProperty")))
		
			#if ($firstLetter != $lastFirstLetter)
				#if (!$first)
					</ul>
				#else
					#set ($first = false)
				#end
				
				<ul title="$firstLetter">
				
				#set ($lastFirstLetter = $firstLetter)
			#end
		#end
		
		<li><a href="$baseUrl$entity.id">$render.eval($context.this, "\$entity.$displayProperty")</a></li>
	#end
	
	#if (${entityList.class.name} == "org.springframework.data.domain.PageImpl")
		#if (!$entityList.hasContent())
			</ul>
		#end
	#else
		## TODO: eventually, this will disappear
		#if (!$entityList.isEmpty())
			</ul>
		#end
	#end
	</div>
#end

#macro(csvList $entityList $baseUrl)
	#foreach ($entity in $entityList)
		<a href="$baseUrl$entity.id">$entity.identifyingName</a>
		#if( $foreach.hasNext ), #end
	#end
#end