#setPageTitle('title.configuration.advanced')

<div id="configuration-warning">
	<h4>#_('configuration.warning.title')</h4>
	<p>#_('configuration.warning.details')</p>
	<div>
		<span id="warning-confirm" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">#_('configuration.warning.ok')</span>
		<span id="warning-deny" class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">#_('configuration.warning.cancel')</span>
	</div>
</div>

#@form()

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])
		#foreach ($entry in $appConfig.asMap().entrySet())
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input type="text" id="$entry.key" name="$entry.key" value="$esc.html($entry.value)" class="mdl-textfield__input" />
				<label class="mdl-textfield__label" for="$entry.key">$entry.key</label>
			</div>
		#end
	#end
</div>

#saveButtons

#end

<script type="text/javascript">

jQuery('.dem-model-form').hide();

jQuery('#warning-confirm').click(function () {
	jQuery('.dem-model-form').show();
	jQuery('#configuration-warning').hide();
});

jQuery('#warning-deny').click(function () {
	window.location = "$link.contextPath/";
});

</script>
