#setPageTitleCond($collection.id 'title.edit.collection', 'title.add.collection')

#@form()

#inputHidden('collection.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Collection.identification')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Collection.name', 'collection.name')
	#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Collection.publisher', 'collection.publisher.id', $publishers, {})
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Collection.internet')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Collection.website', 'collection.website')
	#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Collection.feed', 'collection.feed')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Collection.history')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Collection.history', 'collection.history')
	#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Collection.logo', 'collection.logo.id', $images, { "allowEmpty": true })
	#end
</div>


#saveButtons

#end
