#setPageTitleParams('title.view.collection' $collection.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-collection",
	"url" : "../edit/$collection.id",
	"icon": "picture_in_picture+edit"
})
$quickTasks.add({
	"id" : "qt-delete-collection",
	"url" : "../delete/$collection.id",
	"icon": "picture_in_picture+delete",
	"confirm" : true
})


#thumbnail($collection.logo, {'classes':'model-identification'})
<div class="mdl-grid">
	#@mdlGridCell([6,4,0])
		#@entityField('field.Collection.identifyingName')$collection.identifyingName#end
	#end
	#@mdlGridCell([6,4,0])
		#@entityField('field.Collection.publisher')<a href="../../publishers/view/$collection.publisher.id">$collection.publisher.identifyingName</a>#end
	#end
	#@mdlGridCellCond([6,4,0], $collection.website)
		#entityFieldUrl('field.Collection.website', $collection.website)
	#end
	#@mdlGridCellCond([6,4,0], $collection.feed)
		#entityFieldUrl('field.Collection.feed', $collection.feed)
	#end
	#@mdlGridCellCond([12,0,0], $collection.history)
		#entityFieldRichText('field.Collection.history', $collection.history)
	#end
</div>

