#setPageTitleParams('title.view.collection' $collection.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-collection",
	"url" : "../edit/$collection.id",
	"icon": "edit"
})
$quickTasks.add({
	"id" : "qt-delete-collection",
	"url" : "../delete/$collection.id",
	"icon": "delete",
	"confirm" : true
})


#@entityDetails()

<div class="mdl-grid">
	#@mdlGridCell([9,5,0])
		#@entityField('field.Collection.identifyingName')$collection.identifyingName#end
		#@entityField('field.Collection.publisher')<a href="../../publishers/view/$collection.publisher.id">$collection.publisher.identifyingName</a>#end
		#entityFieldUrl('field.Collection.website', $collection.website)
		#entityFieldUrl('field.Collection.feed', $collection.feed)
		#entityFieldRichText('field.Collection.history', $collection.history)
	#end
	
	#@mdlGridCell([3,3,4])
		#@thumbnail($collection.logo)#end
	#end
</div>


#end