#setPageTitle('title.about')

<h2>#_('page.About.aboutDemyo')</h2>

<p>Demyo v$appVersion "$appCodename"</p>

<p>#_('page.About.aboutDemyo.description')</p>

<h2>#_('page.About.aboutLibs')</h2>

<p>#_('page.About.aboutLibs.description')</p>
<ul>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://harvesthq.github.io/chosen/">Chosen</a>', 'Chosen Team', '<a href="https://www.opensource.org/licenses/mit-license.php">MIT License</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://github.com/GoogleChrome/dialog-polyfill/">Dialog Polyfill</a>,', 'Chromium Authors', '<a href="https://github.com/GoogleChrome/dialog-polyfill/blob/master/LICENSE">BSD 3-clause license</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://getmdl.io/">Material Design Lite</a>', 'Google', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://www.eclipse.org/jetty/">Jetty</a>', 'Eclipse Foundation', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a> &amp; <a href="https://eclipse.org/org/documents/epl-v10.php">Eclipse Public License</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://jquery.com/">JQuery</a>', 'JQuery Team', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="http://lesscss.org/">Less</a>', 'Less Team', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://leaverou.github.io/prefixfree/">PrefixFree</a>', 'Lea Verou', '<a href="https://www.opensource.org/licenses/mit-license.php">MIT License</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://spring.io/">Spring Framework</a>', 'Pivotal Software', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://www.tinymce.com/">TinyMCE</a>', 'Ephox Corporation', '<a href="https://www.gnu.org/licenses/lgpl.html">GNU Lesser General Public License</a>'])</li>
</ul>

<p>#_('page.About.aboutLibs.env')</p>
<ul>
	<li><a href="https://www.debian.org/">Debian</a>.</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="http://openjdk.java.net/">OpenJDK</a>', 'Oracle Corporation', '<a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License v2</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://eclipse.org/">Eclipse</a>', 'Eclipse Foundation', '<a href="https://eclipse.org/org/documents/epl-v10.php">Eclipse Public License</a>'])</li>
	<li>#_p('page.About.aboutLibs.lib', ['<a href="https://maven.apache.org/">Apache Maven</a>', 'Apache Software Foundation', '<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>'])</li>
</ul>

<h2>#_('page.About.aboutInstall')</h2>

<p>#_('page.About.aboutInstall.description')</p>

<table class="mdl-data-table mdl-shadow--2dp">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">#_('page.About.aboutInstall.parameter')</th>
			<th class="mdl-data-table__cell--non-numeric">#_('page.About.aboutInstall.value')</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">#_('page.About.aboutInstall.parameter.os')</td>
			<td class="mdl-data-table__cell--non-numeric">$osName $osVersion ($osArch)</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">#_('page.About.aboutInstall.parameter.java')</td>
			<td class="mdl-data-table__cell--non-numeric">$javaVendor Java $javaVersion</td>
		</tr>
		<tr>
			<td class="mdl-data-table__cell--non-numeric">#_('page.About.aboutInstall.parameter.userAgent')</td>
			<td class="mdl-data-table__cell--non-numeric">$!userAgent</td>
		</tr>
	</tbody>
</table>