#setPageTitle('title.exception')

<h1 class="mdl-typography--title">#_('core.exception.explanation.title')</h1>
<p>#_('core.exception.explanation.detail')</p>

<div class="dem-exception-message">
	$!exception.message
</div>