#setPageTitle('title.index.derivativeType')

#textCardListStdBody($derivativeTypeList "name" "identifyingName" "./view/" false)

$paging.pageLinks($derivativeTypeList, $request, $javascript)
## Letters are not really interesting for Derivative Types
