#setPageTitle('title.index.derivativeType')

#@fabs()
	#fab('./add', 'add')
#end

#textCardListStdBody($derivativeTypeList "name" "identifyingName" "/derivativeTypes/view/" false)

$paging.pageLinks($derivativeTypeList, $request, $javascript)
## Letters are not really interesting for Derivative Types
