#setPageTitleParams('title.view.derivativeType' $derivativeType.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-derivativeType",
	"url" : "../edit/$derivativeType.id",
	"icon": "edit"
})
$quickTasks.add({
	"id" : "qt-delete-derivativeType",
	"url" : "../delete/$derivativeType.id",
	"icon": "delete",
	"confirm" : true
})

#@entityField('field.DerivativeType.identifyingName')$derivativeType.identifyingName#end

## TODO: derivatives of this type
