#setPageTitleParams('title.view.derivativeType' $derivativeType.identifyingName)

$javascript.load('Demyo.QuickTasks')

$quickTasks.add({
	"id" : "qt-edit-derivativeType",
	"url" : "../edit/$derivativeType.id",
	"icon": "edit"
})
$quickTasks.add({
	"id" : "qt-delete-derivativeType",
	"url" : "../delete/$derivativeType.id",
	"icon": "delete",
	"confirm" : true
})

#@entityField('field.DerivativeType.identifyingName')$derivativeType.identifyingName#end
#@entityField('field.DerivativeType.derivatives')
	<a href="$link.contextPath/derivatives/?withType=$derivativeType.id">#_('page.DerivativeType.viewDerivatives')</a>
#end
