#setPageTitleCond($derivativeSource.id 'title.edit.derivativeSource', 'title.add.derivativeSource')

#@form()

#inputHidden('derivativeSource.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])
		#inputText('field.DerivativeSource.name', 'derivativeSource.name')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.DerivativeSource.contact')</h6>#end
	#@mdlGridCell([4,0,0])
		#inputText('field.DerivativeSource.owner', 'derivativeSource.owner')
	#end
	#@mdlGridCell([4,0,0])
		#inputText('field.DerivativeSource.phoneNumber', 'derivativeSource.phoneNumber')
	#end
	#@mdlGridCell([4,8,0])
		#inputMultilineText('field.DerivativeSource.address', 'derivativeSource.address')
	#end
	#@mdlGridCell([6,4,0])
		#inputText('field.DerivativeSource.email', 'derivativeSource.email')
	#end
	#@mdlGridCell([6,4,0])
		#inputText('field.DerivativeSource.website', 'derivativeSource.website')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])
		#inputRichText('field.DerivativeSource.history', 'derivativeSource.history')
	#end
</div>


#saveButtons

#end
