#setPageTitle('title.index.derivativeSource')

#textCardListStdBody($derivativeSourceList "name" "identifyingName" "./view/" true)

$paging.pageLinks($derivativeSourceList, $request, $javascript)
## Letters are not really interesting for Derivative Sources
