#setPageTitle('title.index.derivativeSource')

#textList($derivativeSourceList "name" "identifyingName" "./view/" true)

$paging.pageLinks($derivativeSourceList, $request, $javascript)
## Not really interesting for Derivative Sources
##$paging.letters($request)
