#setPageTitleParams('title.view.derivativeSource' $derivativeSource.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-derivativeSource",
	"url" : "../edit/$derivativeSource.id",
	"icon" : "person_location+edit"
})
$quickTasks.add({
	"id" : "qt-delete-derivativeSource",
	"url" : "../delete/$derivativeSource.id",
	"icon" : "person_location+delete",
	"confirm" : true
})

<div class="mdl-grid">
	#@mdlGridCell([12,0,0])
		#@entityField('field.DerivativeSource.identifyingName')$derivativeSource.identifyingName#end
	#end
	
	#set ($cond = ($derivativeSource.owner || $derivativeSource.phoneNumber))
	#@mdlGridCellCond([6,4,0], $cond)
		#entityFieldText('field.DerivativeSource.owner', $derivativeSource.owner)
		#entityFieldText('field.DerivativeSource.phoneNumber', $derivativeSource.phoneNumber)
	#end
	#set ($cond = ($derivativeSource.email || $derivativeSource.website))
	#@mdlGridCellCond([6,4,0], $cond)
		#entityFieldEmail('field.DerivativeSource.email', $derivativeSource.email)
		#entityFieldUrl('field.DerivativeSource.website', $derivativeSource.website)
	#end
	
	#@mdlGridCellCond([6,4,0], $derivativeSource.address)
		#entityFieldMultilineText('field.DerivativeSource.address', $derivativeSource.address)
	#end
	#@mdlGridCellCond([6,4,0], $derivativeSource.history)
		#entityFieldRichText('field.DerivativeSource.history', $derivativeSource.history)
	#end
</div>


