#setPageTitleParams('title.view.derivativeSource' $derivativeSource.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-derivativeSource",
	"url" : "../edit/$derivativeSource.id",
	"icon" : "person_location+edit"
})
$quickTasks.add({
	"id" : "qt-delete-derivativeSource",
	"url" : "../delete/$derivativeSource.id",
	"icon" : "person_location+delete",
	"confirm" : true
})

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		#@entityField('field.DerivativeSource.identifyingName')$derivativeSource.identifyingName#end
	</div>
	
	#if ($derivativeSource.owner || $derivativeSource.phoneNumber)
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#entityFieldText('field.DerivativeSource.owner', $derivativeSource.owner)
		#entityFieldText('field.DerivativeSource.phoneNumber', $derivativeSource.phoneNumber)
	</div>
	#end
	#if ($derivativeSource.email || $derivativeSource.website)
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#entityFieldEmail('field.DerivativeSource.email', $derivativeSource.email)
		#entityFieldUrl('field.DerivativeSource.website', $derivativeSource.website)
	</div>
	#end
	
	#if ($derivativeSource.address)
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#entityFieldMultilineText('field.DerivativeSource.address', $derivativeSource.address)
	</div>
	#end
	#if ($derivativeSource.history)
	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
		#entityFieldRichText('field.DerivativeSource.history', $derivativeSource.history)
	</div>
	#end
</div>


