/*
 * Demyo: Form styles
 */

.dem-field-set {
	border-bottom: 1px solid rgba(0,0,0,0.12);
	margin-bottom: 1em;
	padding-bottom: 2em;
	
	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}
	
	h6 {
		margin: 0;
		font-weight: bold;
		color: rgba(0,0,0,0.54);
	}
}

.dem-form__label {
	color: @color-primary;
	font-size: 12px;
}

.dem-form__buttons {
	margin: 2em 1em;
}