#setPageTitleCond($binding.id 'title.edit.binding', 'title.add.binding')

#@form()

#inputHidden('binding.id')

<div class="mdl-grid">
	#@mdlGridCell([12,0,0])
		#inputText('field.Binding.name', 'binding.name')
	#end
</div>

#saveButtons

#end
