#setPageTitle('title.index.binding')

#@fabs()
	#fab('./add', 'add')
#end

#textCardListStdBody($bindingList "name" "identifyingName" "./view/" false)

$paging.pageLinks($bindingList, $request, $javascript)
## Letters are not really interesting for Bindings
