#setPageTitle('title.index.binding')

#fab('./add', 'add')

#textCardListStdBody($bindingList "name" "identifyingName" "./view/" false)

$paging.pageLinks($bindingList, $request, $javascript)
## Letters are not really interesting for Bindings
