#setPageTitleParams('title.view.binding' $binding.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-binding",
	"url" : "../edit/$binding.id",
	"icon" : "closed_book+edit"
})
$quickTasks.add({
	"id" : "qt-delete-binding",
	"url" : "../delete/$binding.id",
	"icon" : "closed_book+delete",
	"confirm" : true
})

#@entityField('field.Binding.identifyingName')$binding.identifyingName#end

#if (!$binding.albums.empty)
	<h3 class="mdl-typography--title">#_('field.Binding.albums')</h3>
	#textCardListAlbums($binding.albums false)
#end
