#setPageTitleCond($derivative.id 'title.edit.derivative', 'title.add.derivative')

#@form()

#inputHidden('derivative.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Derivative.origin')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Derivative.series', 'derivative.series.id', $series, { "allowEmpty": true })
	#end
	#@mdlGridCell([6,4,0])
		## Preload with a default value that the JavaScript helper can use
		#inputSelect('field.Derivative.album', 'derivative.album.id', [], { "ajaxLoaded": true, "allowEmpty": true })
	#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Derivative.artist', 'derivative.artist.id', $authors, { "allowEmpty": true })
	#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Derivative.source', 'derivative.source.id', $sources, { "allowEmpty": true })
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Derivative.format')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Derivative.type', 'derivative.type.id', $types, { })
	#end
	#@mdlGridCell([6,4,0])
		#inputFloat('field.Derivative.colours', 'derivative.colours')
	#end
	#@mdlGridCell([4,3,4])
		#inputFloat('field.Derivative.width', 'derivative.width')
	#end
	#@mdlGridCell([4,3,4])
		#inputFloat('field.Derivative.height', 'derivative.height')
	#end
	#@mdlGridCell([4,2,4])
		#inputFloat('field.Derivative.depth', 'derivative.depth') 
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Derivative.description')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputFloat('field.Derivative.number', 'derivative.number')
	#end
	#@mdlGridCell([6,4,0])
		#inputFloat('field.Derivative.total', 'derivative.total')
	#end
	#@mdlGridCell([4,3,4])
		#inputCheckbox('field.Derivative.signed', 'derivative.signed')
	#end
	#@mdlGridCell([4,3,4])
		#inputCheckbox('field.Derivative.authorsCopy', 'derivative.authorsCopy')
	#end
	#@mdlGridCell([4,2,4])
		#inputCheckbox('field.Derivative.restrictedSale', 'derivative.restrictedSale')
	#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Derivative.description', 'derivative.description')
	#end
	#@mdlGridCell([6,4,0])
		#inputSelectMultiple('field.Derivative.images', 'derivative.images', $images)
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Derivative.acquisition')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputDate('field.Derivative.acquisitionDate', 'derivative.acquisitionDate')
	#end
	#@mdlGridCell([6,4,0])
		#inputFloat('field.Derivative.purchasePrice', 'derivative.purchasePrice') ## TODO: append currency
	#end
</div>


#saveButtons

#end

<script type="text/javascript">
jQuery(function () {
	demyo.dependentSelect('#field_derivative_series_id', '#field_derivative_album_id', function (val) {
		return val == null ? "$link.contextPath/albums/withoutSeries" : "$link.contextPath/series/" + val + "/albums";
	});
});
</script>
