#setPageTitle('title.index.derivatives')

#@fabs()
	#fab('./add', 'add')
#end

## TODO: rework this in material design with images
#textList($derivativeList "identifyingName" "identifyingName" "./view/" false)

$paging.pageLinks($derivativeList, $request, $javascript)
