#setPageTitle('title.index.derivatives')

#fab('./add', 'add')

## TODO: rework this in material design with images
#textList($derivativeList "identifyingName" "identifyingName" "./view/" false)

$paging.pageLinks($derivativeList, $request, $javascript)
$paging.letters($request)
