#setPageTitle('title.index.derivative')

#@fabs()
	#fab('./add', 'add')
#end

#macro(derivativeLegendContent $entity $wrapDetails)
	#if ($entity.series)
		<p>#modelLink($entity.series)</p>
	#else ($entity.album)
		<p>#modelLink($entity.album)</p>
	#end
	#if ($wrapDetails)<div class="dem-thumb-legend__details">#end
		#if ($entity.series && $entity.album)
			<p>#modelLink($entity.album)</p>
		#end
		#if ($entity.artist)
			<p>#modelLink($entity.artist)</p>
		#end
		#if ($entity.source)
			<p>#modelLink($entity.source)</p>
		#end
		<p>#modelLink($entity.type)</p>
	#if ($wrapDetails)</div>#end
#end

#@thumbCardListCustomBody($derivativeList "identifyingName" false)
	<div class="mdl-card mdl-shadow--2dp dem-model-card dem-model-card--thumb">
		#if($entity.mainImage)
			#@thumbnail($entity.mainImage, {})
				<button class="mdl-button mdl-js-button mdl-button--icon dem-thumb-legend__expander">
					#icon('ellipsis_v')
				</button>
				#derivativeLegendContent($entity, true)
			#end
		#else
			<legend class="dem-thumb-legend">
				#derivativeLegendContent($entity, false)
			</legend>
		#end
	</div>
#end

$paging.pageLinks($derivativeList, $request, $javascript)
