#setPageTitleParams('title.view.derivative' $derivative.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-derivative",
	"url" : "../edit/$derivative.id",
	"icon" : "image+edit"
})
$quickTasks.add({
	"id" : "qt-delete-derivative",
	"url" : "../delete/$derivative.id",
	"icon" : "image+delete",
	"confirm" : true
})

#thumbnail($derivative.mainImage, {'classes':'model-identification'})

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([6,4,4])
		#entityFieldLinkedModel('field.Derivative.series' $derivative.series)
		#entityFieldLinkedModel('field.Derivative.album' $derivative.album)
	#end
	#set ($cond = $derivative.artist || $derivative.source)
	#@mdlGridCellCond([6,4,4], $cond)
		#entityFieldLinkedModel('field.Derivative.artist' $derivative.artist)
		#entityFieldLinkedModel('field.Derivative.source' $derivative.source)
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([6,4,4])
		#entityFieldLinkedModel('field.Derivative.type' $derivative.type)
		#entityFieldText('field.Derivative.colours' $derivative.colours)
	#end
	#@mdlGridCell([6,4,4])
		#if ($derivative.width && $derivative.height && $derivative.depth)
			#entityFieldText('field.Derivative.size' "#number($derivative.width) x #number($derivative.height) x #number($derivative.depth)")
		#elseif ($derivative.width && $derivative.height)
			#entityFieldText('field.Derivative.size' "#number($derivative.width) x #number($derivative.height)")
		#else
			#entityFieldNumber('field.Derivative.width' $derivative.width)
			#entityFieldNumber('field.Derivative.height' $derivative.height)
			#entityFieldNumber('field.Derivative.depth' $derivative.depth)
		#end
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([6,4,4])
		#if ($derivative.number && $derivative.total)
			#entityFieldText('field.Derivative.numberOverTotal' "#number($derivative.number) / #number($derivative.total)")
		#elseif ($derivative.number)
			#entityFieldNumber('field.Derivative.number' $derivative.number)
		#elseif ($derivative.total)
			#entityFieldNumber('field.Derivative.number' $derivative.total)
		#end
		
		#entityFieldBoolean('field.Derivative.signed', $derivative.signed)
		#entityFieldBoolean('field.Derivative.authorsCopy', $derivative.authorsCopy)
		#entityFieldBoolean('field.Derivative.restrictedSale', $derivative.restrictedSale)
	#end
	#@mdlGridCell([6,4,4])
		#entityFieldRichText('field.Derivative.description', $derivative.description)
	#end
</div>

#if ($derivative.purchasePrice || $derivative.acquisitionDate || !$derivative.prices.empty)
<div class="mdl-grid dem-field-set">
	#@mdlGridCellCond([6,4,4], $derivative.acquisitionDate)
		#entityFieldDate('field.Derivative.acquisitionDate', $derivative.acquisitionDate)
	#end
	#@mdlGridCellCond([6,4,0], $derivative.purchasePrice)
		#entityFieldNumber('field.Derivative.purchasePrice', $derivative.purchasePrice) ## TODO: append currency
	#end
	#set ($cond = !($derivative.prices.empty))
	#@mdlGridCellCond([6,4,0], $cond)
		#@entityField('field.Derivative.prices.history')
			<table class="mdl-data-table mdl-js-data-table">
				<tr>
					<th class="mdl-data-table__cell--non-numeric">#_('field.Derivative.prices.date')</th>
					<th>#_('field.Derivative.prices.price')</th> ## TODO: append currency
				</tr>
				#foreach($price in $derivative.prices)
					<tr>
						<td class="mdl-data-table__cell--non-numeric">#date($price.date)</td>
						<td>#number($price.price)</td>
					</tr>
				#end
			</table>
		#end
	#end
</div>
#end

##TODO: list of images
