#setPageTitle('title.add.image')

#set( $pageTabs = [
		{
			'url': "$link.contextPath/images/upload",
			'label': 'title.add.image.upload',
			'active': true
		},
		{
			'url': "$link.contextPath/images/detect",
			'label': 'title.add.image.detect',
			'active': false
		}
	] )

<p>#_('page.Image.upload.explanation')</p>

#@form()

#inputFile('field.Image.multiUpload', 'imageUpload.uploadedFiles', {"multiple":true})
#formButtons('button.image.upload', 'button.reset')

#end