#setPageTitleCond($publisher.id 'title.edit.publisher', 'title.add.publisher')

#@form()

#inputHidden('publisher.id')

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])
		#inputText('field.Publisher.name', 'publisher.name')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Publisher.internet')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Publisher.website', 'publisher.website')
	#end
	#@mdlGridCell([6,4,0])
		#inputText('field.Publisher.feed', 'publisher.feed')
	#end
</div>

<div class="mdl-grid dem-field-set">
	#@mdlGridCell([12,0,0])<h6>#_('fieldset.Publisher.history')</h6>#end
	#@mdlGridCell([6,4,0])
		#inputRichText('field.Publisher.history', 'publisher.history')
	#end
	#@mdlGridCell([6,4,0])
		#inputSelect('field.Publisher.logo', 'publisher.logo.id', $images, { "allowEmpty": true })
	#end
</div>

#saveButtons

#end
