#setPageTitleParams('title.view.publisher' $publisher.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-publisher",
	"url" : "../edit/$publisher.id",
	"icon": "city+edit"
})
$quickTasks.add({
	"id" : "qt-delete-publisher",
	"url" : "../delete/$publisher.id",
	"icon": "city+delete",
	"confirm" : true
})
## TODO: quick task to add a collection to this publisher

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet">
		#@entityField('field.Publisher.identifyingName')$publisher.identifyingName#end
		#entityFieldUrl('field.Publisher.website', $publisher.website)
		#entityFieldUrl('field.Publisher.feed', $publisher.feed)
		#entityFieldRichText('field.Publisher.history', $publisher.history)
	</div>
	
	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
		#@thumbnail($publisher.logo)#end
	</div>
	
	#if (!$publisher.collections.empty)
		<div class="mdl-cell mdl-cell--12-col">
			#@entityField('field.Publisher.collections')
				#textCardListStdBody($publisher.collections "name" "identifyingName" "../../collections/view/" false)
			#end
		</div>
	#end
</div>


