#setPageTitleParams('title.view.publisher' $publisher.identifyingName)

$quickTasks.add({
	"id" : "qt-edit-publisher",
	"url" : "../edit/$publisher.id",
	"icon": "store+edit"
})
$quickTasks.add({ 
	"id" : "qt-delete-publisher",
	"url" : "../delete/$publisher.id",
	"icon": "store+delete",
	"confirm" : true
})
$quickTasks.add({
	"id" : "qt-add-collection-to-publisher",
	"url" : "../../collections/add/?toPublisher=$publisher.id",
	"icon": "picture_in_picture+add"
})

#thumbnail($publisher.logo, {'classes':'model-identification'})
<div class="mdl-grid">
	#@mdlGridCell([6,4,0])
		#@entityField('field.Publisher.identifyingName')$publisher.identifyingName#end
		#entityFieldRichText('field.Publisher.history', $publisher.history)
	#end
	
	#set ($cond = $publisher.website || $publisher.feed)
	#@mdlGridCellCond([6,4,0], $cond)
		#entityFieldUrl('field.Publisher.website', $publisher.website)
		#entityFieldUrl('field.Publisher.feed', $publisher.feed)
	#end
</div>

#if (!$publisher.collections.empty)
<div class="mdl-grid">
	#@mdlGridCell([12,0,0])
		#@entityField('field.Publisher.collections')
			#textCardListStdBody($publisher.collections "name" "identifyingName" "/collections/view/" false)
		#end
	#end
</div>
#end


